<div class="container">

<div class="panel panel-default">
    <div class="panel-heading">Parámetros de busqueda</div>
    <div class="panel-body">

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" ng-model="buscarCtrl.recetaEjemplo.nombre" id="nombre" placeholder="Nombre" value="" />
          </div>
        </div>
        <div class="col-lg-6">
            
            <label for="nombre">Calorias</label>
            <div class="clearfix"></div>
            <div class="row">
              
              <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="buscarCtrl.recetaEjemplo.caloriasMinima" id="nombre" placeholder="Min" />
              </div>

              <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="buscarCtrl.recetaEjemplo.caloriasMaxima" id="nombre" placeholder="Max" />
              </div>
            </div>
        </div>

        <div class="clearfix"></div><br/>
        

        <div class="col-lg-6">
          <div class="row">
            <label for="temporada">Temporada</label>
            <input type="text" class="form-control" ng-model="buscarCtrl.recetaEjemplo.temporada" id="temporada" placeholder="Temporada" value="" />
          </div>
        </div>

        <div class="col-lg-6">
            <label for="dificultad">Dificultad</label>
            <input type="text" class="form-control" ng-model="buscarCtrl.recetaEjemplo.dificultad" id="dificultad" placeholder="Dificultad" value="" />
        </div>


        <div class="clearfix"></div><br/>

        <div class="col-lg-6">
          <div class="row">
            <label for="ingrediente">Contiene Ingrediente</label>
            <input type="text" class="form-control" ng-model="buscarCtrl.recetaEjemplo.conIngrediente" id="ingrediente" placeholder="Contiene Ingrediente" value="" />
          </div>
        </div>

        <div class="col-lg-6">
            <div class="clearfix"></div>
            <div style="margin-top:28px;"></div>
            <label for="conFiltro">Filtro de usuario</label>
            <input type="checkbox" ng-model="buscarCtrl.recetaEjemplo.conFiltros" id="conFiltro" placeholder="Filtro de usuario" value="" />
        </div>




      </div>
    </div>


     <div class="col-lg-12">
      <div class="row">
      <div class="clearfix"></div><br/>
      
         <a class="btn btn-primary" ng-click="buscarCtrl.buscar()">
          <span class="glyphicon glyphicon-search"></span>
          Buscar
        </a>
        
        <a class="btn btn-info" ng-click="buscarCtrl.limpiarLista()">
          <span class="glyphicon"></span>
          Limpiar Lista
        </a>

      </div>
     </div>

    </div>
  </div>




  <div class="panel panel-default">
    <div class="panel-heading">Resultados</div>
    <div class="panel-body">


     <table class="table table-striped table-bordered table-hover table-condensed">
       <thead>
       <tr>
         <th>Nombre de la receta</th>
         <th>Calorias</th>
         <th>Temporada</th>
         <th>Dificultad</th>
         <th>Acciones</th>
       </tr>
       </thead>
       <tbody>
       <tr data-ng-repeat="receta in buscarCtrl.recetas " class="animate-repeat">
         <td>
           <a ui-sref="verReceta({id: receta.id})">{{receta.nombre}}</a>
         </td>
         <td>
           <span>{{receta.calorias}}</span>
         </td>
         <td>
           <span>{{receta.temporada}}</span>
         </td>
         <td>
           <span>{{receta.dificultad}}</span>
         </td>


         <td>
           <a class="btn btn-primary" ui-sref="verReceta({id: receta.id})">
           <span class="glyphicon glyphicon-eye-open"></span>
           Ver Receta
           </a>
           <a class="btn btn-warning" ng-click="buscarCtrl.hacerFavorita(receta.id)">
           <span class="glyphicon glyphicon-star"></span>
           Favorita
           </a>
           <a class="btn btn-success" ui-sref="copiarReceta({id: receta.id})">
           <span class="glyphicon glyphicon-duplicate"></span>
           Copiar
           </a>
         
         </td>


       </tr>
       </tbody>
     </table>


     <div class="col-lg-12">
      <div class="row">
         <a class="btn btn-info" ui-sref="listarRecetas">
          <span class="glyphicon"></span>
          Volver
        </a>

      </div>
     </div>

    </div>
  </div>
</div>