
<div class="panel panel-default">
	<div class="panel-heading">
		<b>Panel de identificaci&oacute;n</b>
	</div>
	<div class="panel-body">
		<form method="POST">
			<div class="form-group">
				<label for="nombre">Ingrese su nombre</label> <input type="text"
					class="form-control" name="nombre"
					ng-model="loginCtrl.usuario.nombre" id="nombre"
					value="" placeholder="Nombre">
				<div class="clearfix"></div>
				<div class="clearfix"></div>
				<br> <label for="clave">Ingrese su contrase&ntilde;a</label> <input
					type="password" class="form-control" name="clave"
					ng-model="loginCtrl.usuario.clave" id="clave"
					value="" placeholder="Clave">
			</div>
         <a class="btn btn-primary" ng-click="loginCtrl.aceptar()">
          <span class="glyphicon glyphicon-log-in"></span>
          Entrar
        </a>
		</form>
	</div>
</div>

